@media (prefers-color-scheme: dark) {
.Cd9hpd .snByac, .rSoRzd, .GXlaye .snByac, .agOyMd .JAPzS, .O1gyfd, .LGMdbc, .NkK3Fc span[role=heading], .ULpymb .zHQkBf, .jT5e9, .Z7IIl, .cAP2G, .wy3aMe, .pZ7y4c{
    color: white !important;
}

.NI2kfb, .MSZkRb .r4nke, .agOyMd div.DN1TJ, .jO7h3c, .MDfQ7, .PkVVCd, .nxPHec, .hGcgEd, .TgcD5e.CCDcoc .zHQkBf, .DN1TJ, .YS68Af .DX1o3 .XAsDAf, .WpDZC, .YK7obe .yzYBvd{
    color: #E0E0E0 !important;
}

.ULpymb, .jefcFd, .XvhY1d, .jZ0DTb.kM7Sgc .GfgKp, .xWId8e, .jZ0DTb, .PVQHSc.zIeiH .jBmls, .mCosT .jBmls, .K0f0Xc, .JtukPc, .wmCMbe, .pQdjpb.shor6 .nXeosb, .t8qpF, .PhLhOd, .luliFb{
    background-color: #2B2F3B !important;
}

.YxiWic, .z80M1.FwR7Pc, .MDfQ7, .cAYGed.KKjvXb .Ioup7e, .cAYGed.KKjvXb .BMQm1d, .p9lUpf, .oKubKe[aria-selected="true"], .Kk7lMc-DWWcKd-OomVLb-haAclf, .WpDZC, .Kb2sf{
    background-color: #1A1C23 !important;
}
.t8qpF, .PhLhOd{
    border-right : #1A1C23 1px solid !important;
}

.tNDBE:not(.Wyo4Qe){
    border-left : #1A1C23 1px solid !important;

}

.QIadxc{
    border-bottom : #1A1C23 1px solid !important;
}

}