@media (prefers-color-scheme: dark) {

.kdAl3b, .joJglb, .v7wOcf.ZGnOx, html, .d3Fkdd.d3Fkdd.d3Fkdd, .ncFHed .MocG8c.KKjvXb{
    background-color: #1A1C23 !important;

}

.Aopndd, .CPwC4e, .d4Fe0d, .CBSF1e .ETRkCe, .I7OXgf{
    background-color: #2B2F3B !important;
}

.NMm5M{
    fill: white !important;
}

.EZrbnd, .asQXV, .dDKhVc, .l4V7wb .NPEfkd, .Lzdwhd-AyKMt.iTy5c, .A6dC2c, .UYUfn, .K6Ovqd, .Lzdwhd-BrZSOd, .WOPwXe, .I2pI{
    color: #E0E0E0 !important;
}

.pco8Kc, .sdDCme, .tLDEHd, .Shk6y, .rpo4wf, .ipmZkd, .ViCi4{
    color: white !important;
}

}