@media (prefers-color-scheme: dark) {
.Yy5syb, .mf6tRb, .PDfZbf, .hUL4le, .YalTkb{
    color: #E0E0E0 !important;

}

.zH791 .ZAGvjd, .zH791 .zHQkBf, .zH791 .snByac, .zH791 .tL9Q4c, .jMJfHd{
    color:white !important;
}

.as9eHe, .PWsB5e, .k831u, .zYQnTe, .vNuDAe{
    background-color: #1A1C23 !important;

}

.ncJ6qe.jqJLq{
    background-color: #2B2F3B !important;

}
}