@media (prefers-color-scheme: dark) {
.kix-page-content-wrapper,.kix-page-header, #speakernotes-workspace, .punch-filmstrip-controls-view-tab-bar, #filmstrip, .punch-filmstrip-controls{
    background-color: #838383 !important;
}

/*Background, toolbar, ruler and header colour*/
.docs-title-outer,  #docs-menubars, .docs-titlebar-buttons, .docs-titlebar,  #docs-branding-container, .docs-title-input-label, .docs-branding-documents, #docs-toolbar-wrapper, .docs-ruler-face, .docs-vertical-ruler, .docs-branding-documents, .kix-appview-editor, .docs-branding-spreadsheets, .docs-branding-presentations, #workspace-container, #docs-titlebar-container, .docs-title-widget, .companion-app-switcher-container, .docs-title-input, .punch-filmstrip-thumbnails, .docs-gm .grid-view .punch-filmstrip-scroll{
    background-color: #1A1C23 !important;
}

/*Turn In, comments and history colour*/
.jfk-button-standard{
    background-color:white !important;
}

/*Header text colour*/
.goog-control, .docs-title-input-label-inner, .goog-toolbar-combo-button-input,  .goog-toolbar-menu-button-inner-box {
    color:white !important;
}

/* Toolbar button colours */
.goog-toolbar-menu-button-outer-box,.goog-toolbar-button-inner-box, .docs-material .goog-toolbar-button{
    background-color:#1A1C23;
    border:none;
    color:white;
}

.docs-material .goog-toolbar-menu-button,.docs-material .goog-toolbar-button, .docs-material .goog-toolbar-combo-button, .docs-material .goog-toolbar-menu-button{
    border-color:#2B2E3B !important;
    background-color:#1A1C23 !important;
    border-radius: 2px;
}


.docs-material .goog-toolbar-button{
  border-color:#2B2E3B !important;
  background-color:#1A1C23 !important;
  border-radius: 2px;
}
.docs-gm .docs-menubar .goog-control-hover,.docs-gm .docs-menubar .goog-control-open{
    background-color:#888888 !important;
    color:white;
}

.docs-gm .docs-horizontal-ruler, .docs-gm #kix-vertical-ruler{
    background-color:#1A1C23 !important;
}

.navigation-item-content{
    color:white !important;
}

.outline-refresh #navigation-widget-bottom-fade{
    background:none !important;
}

#navigation-widget-bottom-fade{
    background: none !important;
}

.docs-gm #docs-toolbar-wrapper{
    border-bottom: 2px solid #2B2F3B  !important;
    border-top: 2px solid #2B2F3B  !important;
}

.companion-app-switcher-container{
    border-left: 2px solid #2B2F3B  !important;
}

.docs-companion-app-switcher-container{
    border-top: 2px solid #2B2F3B  !important;
}

.docs-gm .goog-menu .goog-menuitem, .docs-gm .goog-menu {
    background-color: #1A1C23 !important;
}

.docs-gm .goog-menu .goog-menuitem, .goog-dimension-picker div{
    color:white !important;
}
.docs-gm .punch-filmstrip-thumbnail-pagenumber{
    fill: white !important;
}
}