@media (prefers-color-scheme: dark) {
.v9czFf, .PEfnhb .i6Fqyc, .PEfnhb, .a-da-ub-ce, .a-da-U>.a-U-xc, .Kk7lMc-Yb-Il-j, .gb_3d, .a-l-Ba, .a-D-B .a-D-B-Lc-j, .tb9Ntf, .a-s-tb-pa, .aabwZd .N7iPof, .a-t-j .a-gd-j, .a-t-D, .aabwZd.fYenT .Tguc8d, .h-v-pc, .a-D-B-x, .a-da-Mf-B{
    background-color: #1A1C23 !important;
}

.v2devc, .s55KNe .jGNTYb, .l-u-Ab-T-j, .MWMSZ, .fi6cjf, .elgvke, .gb_Vd.gb_Oe .gb_Fe .gb_Te, .a-U-ye-ha>.a-U-J, .MWMSZe, .sd-ph .a-t-j .a-ok-Ji-ga, .a-w, .a-mb-w, .a-w .a-w-x, .DKdET, .a-Va-Zb-j{
    background-color: #2B2F3B !important;
}

.UPG3Ne, .KL4NAf, .tC8lxf, .VfPpkd-vQzf8d, .qam0ad, .eAQ1W, .N6Anec, .I2rTXb, .iZz7md, .l-t-T-V>.l-Ab-T-r, .a-t-D-V, .h-R-w-d.a-l-S-Pc-w-d>.h-R-w-d-ff, .o-Yc-o-T, .aabwZd.fYenT .Tguc8d, .M3pype, .ab-S-Wg, .HclN9d, .ObPBWd, .N1Qolf, .sd-ph .a-t-j .a-ok-Ji-ga, .a-v-T, .h-v-x, .a-em-ik-j, .a-Va-Zb-ga, .a-Va-Zb-vb, .h-R-w-d-ff, .a-Va-Zb-vb::placeholder, .sl-Zb-ha-sl-ga, .a-Va-Zb-urCF6c-ga, .OH0web  {
    color:white !important;
}

.ROyxlc, .rTxrTb, .ubmUve, .rprYvc, .jApF8d, .Vl9rfc, .a-t-l-vs-yc-r, .a-D-B .o-Yc-Ej .h-A-d, .aQh4x .o-Yc-Ej .h-A-d, .Q62IOe, .gb_ef, .a-s-T, .gqNuu, .l-ea-q-T, .a-s-Nc-j, .a-t-hd-Il-V{
color: #E0E0E0 !important;
}

svg{
    fill: white !important;
}


.m0xaLc, .a-s-Ba-Ak, .a-D-B-WErN3d-j{
    border-bottom: 1px solid #2B2F3B  !important;
}

.Kk7lMc-Yb-Il-j, .a-Kk7lMc-ae3xF-j{
    border-left: 1px solid #2B2F3B  !important;
}

.DKdET, .fi6cjf, .elgvke{
    border: 0px solid transparent !important;
}

.gb_ef::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
  }
  
  .a-Va-Zb-vb, .h-R-w-d.g-Qb{
      background: #1A1C23 !important;
  }
}