@media (prefers-color-scheme: dark) {

.nH, .amr>.wR.nr{
    background-color: #1A1C23 !important;

}

.yO, .ZF-z6, .ZF-zT, .ZF-Av .lJ, .ZF-Av .lN{
    background-color: #2B2F3B !important;

}

.y2, .ha>.hP, .hx .gD, .boo .aQl>.J-JN-M-I-Jm, .boo .aaa>.J-JN-M-I-Jm, .boo .ZE>.J-JN-M-I-Jm, .bs1+.bs3, .btj+.aD{
    color: #E0E0E0 !important;

}

.a4W .y6, .yP, .yW, .ZF-zT, .boo>.ZG{
    color: white !important;

}

.xY>.T-Jo{
    background-image: url('https://www.gstatic.com/images/icons/material/system_gm/1x/check_box_outline_blank_white_20dp.png');
}
}

