.p2ZbV.zKHdkd, .hZ3uGe.KKjvXb:not(:disabled){
    background-color: #1A1C23 !important;

}

.roSPhc, .Jyj1Td, .Yi3Cfd, .DLjNp.LlMNQd .ASy21, .VfPpkd-TfeOUb, .YuOq4, .YpQfNc, .r1qF6c, .qNakOe, .cfWmIb:not(.VfPpkd-fmcmS-yrriRe-OWXEXe-OWB6Me) .VfPpkd-fmcmS-wGMbrd{
    color: white !important;
}

.FayWyb, .VdLOD, .F1dYic{
    background-color: #2B2F3B !important;

}

.Yi3Cfd, .WqFZne, .ynq40e{
    color: #E0E0E0 !important;
}