.x7WrMb, .jMPsJc, .fnfC4c, .uCK4Db, .GiKO7c, .bJCr1d, .Hm9Gzf, .ISnqu, .IQgWAe{
    color: white !important;
}

.oHzg5.paynGb, .oHzg5.x1A4F, .XLK0Od, .EhlvJf.KKjvXb, .Ig9emd, .cJcN5b{
    background-color: #2B2F3B !important;

}

.VOEIyf .jBmls{
    background-color: #1A1C23 !important;

}

.mPKYhd, .Dn5CSc, .kFNik{
    color: #E0E0E0 !important;

}