.docs-homescreen-material-bar-enabled .docs-homescreen-leftmenu{
    background-color: #1A1C23 !important;
}


.docs-homescreen-leftmenu-menuitem.goog-menuitem-highlight{
    background-color: #2B2F3B !important;
}

.docs-homescreen-templates-bar-header{
    color:white !important;
}